[Desktop Entry]
Name=Grounder
Name[ast]=Grounder
Name[bg]=Grounder
Name[bs]=Grounder
Name[ca]=Grounder
Name[ca@valencia]=Grounder
Name[cs]=Grounder
Name[da]=Grounder
Name[de]=Grounder
Name[el]=Grounder
Name[en_GB]=Grounder
Name[eo]=Grounder
Name[es]=Grounder
Name[et]=Grounder
Name[fi]=Grounder
Name[fr]=Grounder
Name[ga]=Grounder
Name[gl]=Grounder
Name[hu]=Grounder
Name[it]=Grounder
Name[ja]=Grounder
Name[kk]=Grounder
Name[km]=Grounder
Name[ko]=Grounder
Name[lt]=Grounder
Name[lv]=Grounder
Name[nb]=Grounder
Name[nds]=Grounder
Name[nl]=Grounder
Name[nn]=Grounder
Name[pa]=Grounder
Name[pl]=Grounder
Name[pt]=Grounder
Name[pt_BR]=Grounder
Name[ro]=Grounder
Name[ru]=Grounder
Name[sk]=Grounder
Name[sl]=Grounder
Name[sq]=Grounder
Name[sr]=Grounder
Name[sr@ijekavian]=Grounder
Name[sr@ijekavianlatin]=Grounder
Name[sr@latin]=Grounder
Name[sv]=Grounder
Name[tr]=Grounder
Name[ug]=Grounder
Name[uk]=Grounder
Name[x-test]=xxGrounderxx
Name[zh_CN]=Grounder
Name[zh_TW]=Grounder
Exec=grounder
Icon=grounder
Type=Application
X-DocPath=grounder/index.html
GenericName=A Simple KDE Application
GenericName[bs]=Prosti KDE program
GenericName[ca]=Una aplicació senzilla del KDE
GenericName[ca@valencia]=Una aplicació senzilla del KDE
GenericName[cs]=Jednoduchá aplikace KDE
GenericName[da]=Et simpelt KDE-program
GenericName[de]=Eine einfache KDE-Anwendung
GenericName[el]=Μια απλή εφαρμογή KDE
GenericName[en_GB]=A Simple KDE Application
GenericName[es]=Una aplicación sencilla para KDE
GenericName[et]=Lihtne KDE rakendus
GenericName[fi]=Yksinkertainen KDE-sovellus
GenericName[fr]=Une application simple pour KDE
GenericName[ga]=Feidhmchlár Simplí KDE
GenericName[gl]=Aplicativo de KDE sinxelo
GenericName[hu]=Egyszerű KDE alkalmazás
GenericName[it]=Una semplice applicazione di KDE
GenericName[kk]=Қарапайым KDE қолданбасы
GenericName[ko]=간단한 KDE 프로그램
GenericName[lt]=Paprasta KDE programa
GenericName[nb]=Et enkelt KDE4-program
GenericName[nl]=Een eenvoudige KDE-toepassing
GenericName[pa]=ਸਧਾਰਨ KDE ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Prosty program KDE
GenericName[pt]=Uma Aplicação Simples do KDE
GenericName[pt_BR]=Um aplicativo simples do KDE
GenericName[ru]=Простое приложение KDE
GenericName[sk]=Jednoduchá KDE aplikácia
GenericName[sl]=Preprost program za KDE
GenericName[sr]=Једноставни КДЕ програм
GenericName[sr@ijekavian]=Једноставни КДЕ програм
GenericName[sr@ijekavianlatin]=Jednostavni KDE program
GenericName[sr@latin]=Jednostavni KDE program
GenericName[sv]=Ett enkelt KDE-program
GenericName[tr]=Baist bir KDE4 Uygulaması
GenericName[uk]=Проста програма для KDE
GenericName[x-test]=xxA Simple KDE Applicationxx
GenericName[zh_CN]=简单的 KDE 应用程序
GenericName[zh_TW]=簡單的 KDE 應用程式
